# This is the requirements file for pip
# Python=3.12
numpy==1.26.2
matplotlib==3.8.2
pandas==2.1.4
scipy==1.11.4
streamlit==1.30.0
streamlit-aggrid==0.3.4.post3
altair==5.2.0
openpyxl==3.1.2
uuid==1.30